<div class="home-page">
    <h3>Your Profile</h3>
    <img src={{user.profileImage}} alt="your profile image">
    <p>Your username:{{user.username}}</p>
    <p>Your role is: {{user.role}}</p>
</div>
<div class="user-card">
    <h3>Al the Users</h3>
    <div class="container-fluid">
    <div class="row justify-content-center">
    {{#each allTheUsers}}
    <div class="col-md-3 user-card">
    <img src={{this.profileImage}} alt="user profile image">
    <p><a href="/user/{{this._id}}">username:{{this.username}}</a></p>
    <p>role: {{this.role}}</p>
    </div>
    {{/each}}
    </div>
    </div>
</div>

