<div class="home-page">
    <h3>Profile</h3>
    <form action="" method="POST" enctype="multipart/form-data">
    
    <img src={{thisUser.profileImage}} alt="your profile image">
    <div>
        <label>Profile Image</label>
        <input type="file" name="photo">
    </div>

    <div>
        <label>Username</label>
        <input type="text" name="username" value="{{thisUser.username}}">
    </div>
    <div>
        <label for="">Role</label>
        <select name="role" id="">
            <option value="ADMIN">ADMIN</option>
            <option value="USER" selected = 'selected'>USER</option>
        </select>
    </div>
    <p>favorites:</p>
    {{#each books}}
    <img src="{{this.volumeInfo.imageLinks.thumbnail}}" alt="">
    {{this.volumeInfo.title}}
    <button><a href="/user/{{../thisUser._id}}/book/delete/{{this.id}}">delete</a></button>
    {{/each}}

    <p>friends:</p>
    {{#with thisUser }}
    {{#each friends}}
    {{username}}
    <button><a href="/user/{{../_id}}/delete/friend/{{_id}}">delete</a></button>
    {{/each}}
    {{/with}}
    <p>comments:</p>
    {{#with thisUser}}
    {{#each reviews}}
    {{content}}
    <button><a href="/user/{{../_id}}/delete/comment/{{_id}}">delete</a></button>
    {{/each}} 
    {{/with}}
    <div>
    <a href="/user/delete/{{thisUser._id}}">Delete the profile></a>  
    <a href="">Save the Edit</a> 
    <a href="">Quit</a>
    </div>

    </form>
</div>
