<div class="books col-md-3 rounded-lg shadow border">
    <img src="{{volumeInfo.imageLinks.thumbnail}}" alt="the cover image of book">
    <h5>{{volumeInfo.title}}</h5>
    <p>{{volumeInfo.authors}}</p>
    <button class="btn btn-info">
        <a href="/onebook/{{this.id}}"> More Info</a>
    </button>
    {{!-- {{#if islogged}}<a href="/search-results/{{id}}">add book</a>{{/if}} --}}
</div>