<div class="col-md-4" id="book-card">
    <img src="{{volumeInfo.imageLinks.thumbnail}}" alt="the cover image of book">
    <h5>{{volumeInfo.title}}</h5>
    <p>Authors:{{volumeInfo.authors}}</p>
    <button>
        <a href="/onebook/{{this.id}}"> More Info</a>
    </button>
    {{!-- {{#if islogged}}<a href="/search-results/{{id}}">add book</a>{{/if}} --}}
</div>