<div>
    <img src="{{volumeInfo.imageLinks.thumbnail}}" alt="the cover image of book">
    <h3>{{volumeInfo.title}}</h3>
    <h5>{{volumeInfo.authors}}</h5>
    <a href="/search-results/{{this.id}}"> More Info</a>
    {{!-- {{#if islogged}}<a href="/search-results/{{id}}">add book</a>{{/if}} --}}
</div>