<div>
    <div><img src={{book.volumeInfo.imageLinks.thumbnail}} alt="the cover image"></div>
    <h2>{{book.volumeInfo.title}}</h2>
    <h5>Authors:{{book.volumeInfo.authors}}</h5>
    <h5>Categories:{{book.volumeInfo.categories}}</h5>
    <h5>Language:{{book.volumeInfo.language}}</h5>
    {{#if book.volumeInfo.description}}
    <p>Description:{{book.volumeInfo.description}}</p>
    {{else}}
    <p>Description:no description of the book</p>
    <p><a href="{{book.volumeInfo.previewLink}}">See the book in Google books</a></p>
    {{/if}}
    <p>Comments from Bookjes's user:</p>
    {{#each comments}}
    <div>
        <img id="small-image" src="{{this.creator.profileImage}}" alt="">
        {{this.creator.username}}--
        {{this.content}}
        {{#if this.isUser}}
        <a href="/search-results/comments/delete/{{this._id}}">delete</a>
        {{/if}}
    </div>
    {{/each}}
    {{#if user}}
    {{#if isAdded}}
    <p>Already in the favorites</p>
    {{/if}}
    {{#unless isAdded}}
    <a href="/book/{{book.id}}">Add to my favorites</a> 
    {{/unless}}
    <form action="/comment/{{book.id}}" method="post">
    <label for="comment">Comment for the book</label>
    <input type="text" name="content" id="comment">
    <button type="submit">Save</button>
    </form>
    {{/if}}
</div>