<div class="index">
    <h1>Bookje's Recommendation</h1>
    <div><img src={{book.imageLinks.thumbnail}} alt="the cover image"></div>
    <h2>{{book.title}}</h2>
    <h5>Authors:{{book.authors}}</h5>
    <h5>Categories:{{book.categories}}</h5>
    <h5>Language:{{book.language}}</h5>
    <p>Description:{{book.description}}</p>
</div>