<div>
    <h1>Book Recommendation</h1>
    <img src={{book.imageLinks.thumbnail}} alt="the cover image">
    <div>{{book.title}}</div>
    <div>{{book.authors}}</div>
    <div>{{book.categories}}</div>
    <div>{{book.language}}</div>
    <div>{{book.description}}</div>
</div>