<div class="home-page">
    <h3>Profile</h3>
    <img src="{{profile.profileImage}}" alt="profile image">
    <p>username:{{profile.username}}</p>
    <p>role {{profile.role}}</p>
</div>
<div>
    <h3>Favorite books</h3>
</div>
{{!-- <div>
    <h3>users</h3>
    {{#each otherUsers}}
    <a href="/user/{{this._id}}">{{this.username}}</a>
    {{/each}}
</div> --}}
<div>
    <h3>Comments</h3>
</div>
<div>
    <a href="/add/{{profile._id}}">add as friend</a>
</div>
