<div class = 'container-fluid'>
    <div class="row justify-content-center">
        <div class="random col-9 col-md-6">
        <h2>Bookje's Recommendation</h2>
        <div><img src={{book.imageLinks.thumbnail}} alt="the cover image"></div>
        <h3>{{book.title}}</h3>
        <h5>Authors:{{book.authors}}</h5>
        <h5>Categories:{{book.categories}}</h5>
        <h5>Language:{{book.language}}</h5>
        <p>Description:{{book.description}}</p>
        </div>
    </div>
</div>