<div  id="random-page">
        <div class="random">
        <h2>Bookje's Recommendation</h2>
        <div><img src={{book.imageLinks.thumbnail}} alt="the cover image"></div>
        <h3>{{book.title}}</h3>
        <h5>Authors:{{book.authors}}</h5>
        <h5>Categories:{{book.categories}}</h5>
        <h5>Language:{{book.language}}</h5>
        </div>
</div>
<div id="random-page-2">
    <h5>Description:</h5>
    <p>{{book.description}}</p>
</div>


