<div class="home-page">
    <h3>Your Profile</h3>
    <img src={{user.profileImage}} alt="your profile image">
    <p>Your username:{{user.username}}</p>
    <p>Your role is: {{user.role}}</p>
</div>
<div>
    <h3>Favorite books</h3>
    <div class="container-fluid">
    <div class="row justify-content-center">
    {{#each books}}
    <div class="col-md-3" id="book-card">
    <img src="{{this.volumeInfo.imageLinks.thumbnail}}" alt="">
    <a href="/search-results/{{this.id}}">{{this.volumeInfo.title}}</a>
    <a href="/favorites/delete/{{this.id}}">Remove</a>
    </div>
    {{/each}}
    </div>
    </div>
</div>



<div>
    <h3>Friends</h3>
    <form action="/profile" method="post">
      <input type="text" list="usernames" name="username"> 
      <datalist id="usernames">
        {{#each otherUsers}}
        <option value="{{username}}">
        {{/each}}
      </datalist>
      <input type="submit" value="search">
    </form>



    {{!-- {{#each otherUsers}}
    <a href="/friend/{{this._id}}">{{this.username}}</a>
    {{/each}} --}}
</div>




<div>
    <h3>Comments</h3>
    {{#each comments}}
    <div>
        {{content}}
        <p>@ for the book: <a href="/search-results/{{bookID}}">{{bookTitle}}</a></p>
        <a href="/comments/delete/{{this._id}}">Delete</a>
    </div>

    {{/each}}
</div>
<div>
    <a href="/home/{{user._id}}">Edit my profile</a> <a href="/password/{{user._id}}">Change my password</a>
</div>