<div class="home">
    <h5>Your Profile:</h5>
    <div class="home-page container-fluid shadow-lg rounded-lg">
        <div class="row">
            <div class="col-sm-5">
                <img src={{user.profileImage}} alt="your profile image">
            </div>
            <div class="info-panel col-sm-7">
                <p>Your name: {{user.username}}</p>
                <p>Your role is: {{user.role}}</p>
                <div>
                    <button class="btn btn-primary"><a href="/home/{{user._id}}">Edit my profile</a></button> 
                    <button class="btn btn-primary"><a href="/password/{{user._id}}">Change my password</a></button>
                </div>
            </div>
        </div>
    </div>
    <h5>Favorite books:</h5>
        <div class="favorite-books container-fluid">
            <div class="row justify-content-start">
            {{#each books}}
                <div class="book-card col-md-3 rounded-lg shadow border">
                <img src="{{this.volumeInfo.imageLinks.thumbnail}}" alt="">
                <a href="/onebook/{{this.id}}">{{this.volumeInfo.title}}</a>
                <button class="btn btn-danger"><a href="/favorites/delete/{{this.id}}">Remove</a></button>
                </div>
            {{/each}}
            </div>
        </div>
    <h5>Friends List:</h5>
        <table class="friends table">
            <tbody>
            {{#each friends}}
                <tr>
                <td><a href="/profile/{{_id}}"><img src="{{profileImage}}" alt=""></a></td>
                <td><a href="/profile/{{_id}}">{{username}}</a></td>
                <td><button class="btn btn-danger"><a href="/delete/{{_id}}">remove</a></button></td>
                </tr>
            {{/each}}                
            </tbody>
        </table>
    <h5>Find User:</h5>
        <form action="/profile" method="post" id="find-user">
            <label for="">Search a user from Bookje:</label>
            <input type="text" list="usernames" name="username"> 
            <datalist id="usernames">
            {{#each otherUsers}}
            <option value="{{username}}">
            {{/each}}
            </datalist>
            <input type="submit" value="search">
        </form>
    <h5>Comments:</h5>
    <table class="comments table table-hover">
        <thead>
            <tr>
                <th scope="col">content</th>
                <th scope="col">book</th>
                <th scope="col">delete</th>
            </tr>
        </thead>
        <tbody>
        {{#each comments}}
        <tr>
            <td>{{content}}</td>
            <td><a href="/onebook/{{bookID}}">{{bookTitle}}</a></td>
            <td><button class="btn btn-danger"><a href="/comments/delete/{{this._id}}">Delete</a></button></td>
        </tr>
        {{/each}}
        </tbody>

    </table>
</div>
