<div class="home-page">
    <h3>Your Profile</h3>
    <img src={{user.profileImage}} alt="your profile image">
    <p>Your username:{{user.username}}</p>
    <p>Your role is: {{user.role}}</p>
</div>
<div>
    <h3>Favorite books</h3>
    {{#each books}}
    {{this.title}}
    {{/each}}
</div>
<div>
    <h3>Friends</h3>
    {{#each otherUsers}}
    <a href="/friend/{{this._id}}">{{this.username}}</a>
    {{/each}}
</div>
<div>
    <h3>Comments</h3>
    {{#each comments}}
    {{content}}
    @ <a href="/search-results/{{bookID}}">{{bookTitle}}</a> 
    {{/each}}
</div>
<div>
    <a href="/home/{{user._id}}">Edit my profile</a> <a href="/password/{{user._id}}">Change my password</a>
</div>